#titleBanner {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#mainScreen {
    text-align: center;
}

/* Icon formatting */
#createGameIcon {
    font-size: 3em;
    color: Tomato
}